html {
    font-family: Verdana, sans-serif; 
    font-size: 50px;
    font-weight: normal;
    color: white;
    text-align: center;
    background-color: black;
    margin-left: 1rem;
    margin-right: 1rem;
}

.discover {
    margin-top: 0.75rem;
}

a {
    color: aquamarine;
    font-size: 0.32rem;
    text-decoration: underline;
}

.phone {
    display: block;
    margin-top: 0.45rem;
}

.guide {
    display: block;
    margin-top: 1rem;
}

.guide h4 {
    font-weight: 300;
    font-size: 0.84rem;
}

.guide h5, .copyright p {
    color: gray;
    font-size: 0.42rem;
    line-height: 2rem;
}

.guide p {
    margin-top: .35rem;
}

.soon {
    display: block;
    margin-top: 1rem;
}

.soon h4 {
    font-size: 0.84rem;
    font-weight: 300;
}

.copyright p {
    text-align: right;
}


